/* common */

html, body {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.main-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*To test the file-loader plugin in webpack*/
#main-body{
	background-image: url('../assets/s-l300.jpg');
}

/* navigation */

/* main body */

/* sub theme scroll */

/* social media */

/* days countdown */
