/* common */

/*fonts*/
@font-face {
    font-family: "ikaros";
    src: url("../assets/fonts/Ikaros-Regular.otf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');


html, body {
 position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    visibility: hidden;
}

.main-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* captcha */
.g-recaptcha{
    padding: 20px;
}

/* navigation */

/* main body */

/* sub theme scroll */

/* social media */

/* days countdown */
