/* common */

/*fonts*/
@font-face {
    font-family: "ikaros";
    src: url("../assets/fonts/Ikaros-Regular.otf");
}

@font-face {
    font-family: "productSans";
    src: url("../assets/fonts/ProductSansRegular.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html, body {
	  position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-page {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.main-container-background {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('../assets/imgs/content-bg.png');
  filter: hue-rotate(259deg) saturate(61.5%);
  background-size: cover;
}

/* navigation */
#nav {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
}

/* main body */

/* sub theme scroll */

/* social media */

/* days countdown */
