/* desktop */
@media all and ( min-width: 600px ) {
    .main-container {
        width: 90vw;
        height: 80vh;
        position: relative;
        border: solid 1px black; /* temporary */
    }

    .main-container-background {
        height: 100%;
        width: 100%;
        position: absolute;
        background: url('../assets/imgs/content-bg.png');
        filter: hue-rotate(-101deg) saturate(61.5%);
        background-size: cover;
    }

    /* navigation */
    #nav {
        height: 15%;
        width: 90%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
    }

    #logo {
        height: 100%;
        width: 10%;
        border: solid 1px black; /* temporary */
    }

    #nav-list {
        list-style: none;
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: "ikaros";
    }

    #nav-list li {
        height: 100%;
        width: 8vw;
        font-size: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: solid 5px rgba(0,0,0,0);
        box-sizing: border-box;
        color: #fff;
    }

    #nav-list .nav-selected {
      border-top: solid 5px green;
      box-sizing: border-box;
    }

    #nav-list li:hover {
        cursor: pointer;
    }

    /* main body */
    #main-body {
        height: 75%;
        width: 48%;
        position: absolute;
        top: 15%;
        border: solid 1px black; /* temporary */
    }

    .content-page {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .content-page:not(#home) {
        display: none;
    }

    /*home*/
    .home-heading{
        font-family: "ikaros"; /*change font here*/
        font-size: 5vw;
        padding: 10px;
        color: #ffffff;
    }

    .home-content{
        font-family: 'Roboto', sans-serif; /*change font here*/
        font-size: 20px;
        padding: 10px;
        color: #ffffff;
    }

    .home-teaser{
        color: black; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 27px;
        margin: 50px 10px 0px 10px;
        padding: 5px;
        cursor: pointer;
        color: #2D8ED8;
    }

    /*about*/
    .about-heading{
        color: black; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 25px;
        padding: 10px;
        color: #2D8ED8;
    }

    .about-content{
        color: black; /*to be changes to white later*/
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
    }

    .about-content p{
        margin: 5px 10px 10px 10px;
    }

    .about-download{
        color: black; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 27px;
        margin: 50px 10px 0px 10px;
        padding: 5px;
        cursor: pointer;
        color: #2D8ED8;
    }

    /*videos*/
    .videos-content {
        height: 100%;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        border: 0;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        align-content: stretch;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .video-img {
        font-size: 120%;
        width: 45%;
    }

    .img-heading {
        padding-bottom: 1%;
        font-family: "ikaros";
        width: 100%;
        color: #2D8ED8;
    }


    .img-thumbnail {
        width: 20vw;
        height: 14vw;
        cursor: pointer;
        background-image: url(../assets/video_img/oasis.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img-thumbnail > img {
        transition: transform 0.1s linear;
    }

    .img-thumbnail:hover > img {
        transform: scale(1.1);
    }

    .aftermovie17 {
        background-image: url(../assets/video_img/oasis_17_aftermovie.jpg);
    }

    .teaser17 {
        background-image: url(../assets/video_img/oasis_17_teaser.jpg);
    }

    .aftermovie16 {
        background-image: url(../assets/video_img/oasis_16_aftermovie.jpg);
    }

    .youtube-thumbnail {
        width: 20%;
        z-index: 99;
    }

    .overlay-video {
        display: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
        -ms-transition: opacity 600ms ease-in;
        transition: opacity 600ms ease-in;
        -ms-transition: opacity .6s;
        transition: opacity .6s;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .7);
        z-index: 999999;
    }

    .o1 {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
        -ms-transition: opacity 600ms ease-out;
        transition: opacity 600ms ease-out;
        -ms-transition: opacity .6s;
        transition: opacity .6s;
    }

    .video-wrapper-ext {
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 982px;
        padding: 0 20px;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*contacts*/
    .content-page {
        overflow-y: scroll;
    }

    .contact-heading{
        color: #F0DF00; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 25px;
        padding: 10px;
    }

    .contact-content{
        font-family: "roboto", sans-serif; /*change font here*/
        color: #fff;
        font-size: 110%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .contact-info {
        width: 40%;
        padding: 10px;
        overflow-wrap: break-word;
    }
    /* sub theme scroll */
    #theme-scroll {
      height: 100%;
      width: 10%;
      border-left: solid red 5px;
      position: absolute;
      right: 0;
      top: 0;

	  #theme-scroll-innerwrap {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		justify-content: space-around;
		align-items: center;

		.theme-number {
			color: white;		
			font-size: 18px;
			font-family: ikaros;
			opacity: 0.47;
		}
		
	  }
    }

    /* social media */

    #social-media{
        position: absolute;
        bottom: 20px;
        padding: 10px;
        right: 300px;
    }

    .social-icon{
        width: 30px;
        margin: 0 12px 0 12px;
        cursor: pointer;
    }

    /* days countdown */

    #days-countdown{
        position: absolute;
        bottom: 20px;
        padding: 10px;
        font-size: 24px;
        font-family: "ikaros";
        color: #ffffff;
    }
}
