/* desktop */
@media all and ( min-width: 600px ) {
    .main-container {
        width: 90vw;
        height: 80vh;
        position: relative;
        border: solid 1px black; /* temporary */
    }

    /* navigation */
    #nav {
        height: 15%;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        border: solid 1px black; /* temporary */
    }

    #logo {
        height: 100%;
        width: 10%;
        border: solid 1px black; /* temporary */
    }

    #nav-list {
        list-style: none;
        display: flex;
    }

    #nav-list li {
        padding: 0 5px;
    }

    #nav-list li:hover {
        cursor: pointer;
    }

    /* main body */
    #main-body {
        height: 75%;
        width: 48%;
        position: absolute;
        top: 15%;
        border: solid 1px black; /* temporary */
    }

    .content-page {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .content-page:not(#home) {
        display: none;
    }

    /*home*/
    .home-heading{
        font-family: "ikaros"; /*change font here*/
        font-size: 5vw;
        padding: 10px;
    }

    .home-content{
        font-family: 'Roboto', sans-serif; /*change font here*/
        font-size: 20px;
        padding: 10px;
    }

    .home-teaser{
        color: black; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 27px;
        margin: 50px 10px 0px 10px;
        padding: 5px;
        cursor: pointer;
    }

    /*about*/
    .about-heading{
        color: black; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 25px;
        padding: 10px;
    }

    .about-content{
        color: black; /*to be changes to white later*/
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }

    .about-content p{
        margin: 5px 10px 10px 10px;
    }

    .about-download{
        color: black; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 27px;
        margin: 50px 10px 0px 10px;
        padding: 5px;
        cursor: pointer;
    }
    
     /*videos*/
    .videos-content {
        height: 100%;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        border: 0;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        align-content: stretch;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .video-img {
        font-size: 132%;
        width: 45%;
    }

    .img-heading {
        padding-bottom: 1%;
        font-family: "ikaros";
    }
    

    .img-thumbnail {
        width: 100%;
        cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

    /* Modal Content */
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 70vh;
        border-radius: 0.5rem;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        z-index: 9999;
    }
    /*contacts*/
    .content-page {
        overflow-y: scroll;
    }

    .contact-heading{
        color: black; /*color to be changes according to theme*/
        font-family: "ikaros"; /*change font here*/
        font-size: 25px;
        padding: 10px;
    }

    .contact-content{
        font-family: "roboto", sans-serif; /*change font here*/
        font-size: 110%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .contact-info {
        width: 40%;
        padding: 10px;
        overflow-wrap: break-word;
    }
    /* sub theme scroll */

    /* social media */

    #social-media{
        position: absolute;
        bottom: 20px;
        padding: 10px;
        right: 300px;
    }

    .social-icon{
        width: 30px;
        margin: 0 12px 0 12px;
        cursor: pointer;
    }

    /* days countdown */

    #days-countdown{
        position: absolute;
        bottom: 20px;
        padding: 10px;
        font-size: 24px;
        font-family: "ikaros";
    }
}