html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	h1 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
	}

	img {
		max-height: 50vh;
		margin: 0 auto;
	}
}
.image::after{
	position:absolute;
	left:8px;
	top:0;
	overflow:hidden;
	clip:rect(0,900px,0,0);
	// animation: noise-anim 5s linear alternate-reverse;
	-webkit-filter: drop-shadow(-1px -1px 5px rgba(0,255,0,0.2)) hue-rotate(random(360)deg);
	filter: drop-shadow(-1px -1px 5px rgba(0,255,0,0.2)) hue-rotate(random(360)+deg);
}
.image::before{
	position:absolute;
	left:-8px;
	overflow:hidden;
	clip:rect(0,900px,0,0);
	// animation: noise-anim 5s linear alternate-reverse;
	-webkit-filter: drop-shadow(1px 1px 5px rgba(255,0,0,0.2)) hue-rotate(random(360)+deg);
	filter: drop-shadow(1px 1px 5px rgba(255,0,0,0.2)) hue-rotate(random(360)+deg);
}
@keyframes noise-anim{
	$steps:20;
	@for $i from 0 through $steps{
		#{percentage($i*(1/$steps))}{
			clip:rect(random(500)+px,9999px,random(500)+px,0);
		}
	}
}